.adv-AddMemberForm {
  border-bottom: unit(1/16, em) solid @color-Border;
  border-top: unit(1/16, em) solid @color-Border;
  margin: 1em 0 1em;
  max-width: 20em;

  &-field {
    display: flex;
  }

  //
  // TO DO:
  // `[type]` is only used to increase specificity for the sake of overwriting
  // Bootstrap. Remove once Bootstrap is removed.
  //
  &-input[type] {
    margin-right: 0.5em;
  }

  &-textarea {
    resize: vertical;
  }

  &-button {
    flex-shrink: 0;
  }

  &-instructions {
    font-size: @scale-FontSize--05i;
    margin: 0.5rem 0;
  }

  &-controls {
    margin: 0.5em 0;
    text-align: right;
  }
}
