.adv-Advisee {

  &-header {
    align-items: flex-start;
    display: flex;
    margin: 0.5em 0.5em 0;
  }

  &-nameGroup {
    align-items: baseline;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  &-heading {
    font-size: @scale-FontSize--10;
    font-weight: normal;
    line-height: 1;
    margin: 0.5em 0.5em 0;
  }

  &-id {
    margin: 0.5em 0.5em 0;
  }

  &-flag {

    &:hover,
    &:focus {
      background-color: @color-Interactive--100;
    }
  }

  &-flagIcon {
    fill: @color-Link;
    padding: 0.5em;
  }

  &-serviceIndicatorDetails,
  &-details {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.5em 0.5em;
  }

  &-serviceIndicatorDetail,
  &-detail {
    line-height: @scale-FontSize--20;
    margin: 0.5em;
    max-width: 20em;

    &--fixed {
      min-width: 16em;
    }

    &--right {
      text-align: right;
    }
  }

  &-serviceIndicatorDetailTitle,
  &-detailTitle {
    font-size: @scale-FontSize--10i;
    font-weight: bold;
  }

  &-serviceIndicatorDetailItem,
  &-detailItem {
    margin: 0;
  }

  &-studentGroupHeader {
    float:left;
    font-weight: bold;
    width: 20em;
  }

  &-studentGroupDetail {
    font-size: @scale-FontSize--10i;
  }

  &-studentGroup {

    &--inactive {
      color: @color-Base--250;
    }
  }

  &-serviceIndicator {
    margin: 0.5em 0.5em 0;
  }

  &-serviceIndicatorType {
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0;
  }

  &-serviceIndicatorHeader {
  }

  &-code {
    font-style: italic;
    margin: 0 0.3em 0 0;
  }
}
