.adv-App {
  .textShadow();
  color: @color-Text--900;
  font-size: 16px;
  line-height: 1;
  margin: 5%;

  ::selection {
    background-color: @color-Interactive--150;
  }

  &-heading {
    font-size: @scale-FontSize--20;
    font-weight: normal;
  }

  &-empty {
    background-color: @color-Base--050;
    color: @color-Text--400;
    font-size: @scale-FontSize--10;
    padding: 5%;
    text-align: center;
  }
}
