.adv-App {
  .textShadow();
  color: @color-Text--900;
  font-size: 16px;
  line-height: 1;

  ::selection {
    background-color: @color-Interactive--150;
  }

  &-header {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  &-heading {
    font-size: @scale-FontSize--20;
    font-weight: normal;
    line-height: 1;
  }

  &-editGroupLink {
    margin-left: 1em;
  }

  &-empty,
  &-loading {
    background-color: @color-Base--050;
    color: @color-Text--600;
    font-size: @scale-FontSize--10;
    line-height: @scale-FontSize--10;
    padding: 5%;
    text-align: center;
  }

  &-membership {
    max-width: 30em;
  }
}
