.adv-Controls {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;

  &-count {
    flex-shrink: 0;
    margin: 0;
  }

  &-form {
  }

  &-label {
    display: inline-block;
    font-weight: bold;
    margin: 0.5em 0.5em 0.5em 0;
  }

  &-select {
  }
}
