.adv-Controls {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;

  &-count {
    flex: 1;
    margin: 0 0 0.5em;
    min-width: 7em;
  }

  &-form {
    margin: 0;
  }

  &-label {
    display: inline-block;
    font-weight: bold;
    margin: 0.5em 0.5em 0.5em 0.5em;
  }

  &-select {
  }
}
