.adv-Link {
  color: @color-Link;
  line-height: @scale-FontSize--10;
  text-decoration: none;

  &:focus,
  &:hover {
    color: @color-Link;
    text-decoration: underline;
  }

  &--underlined {
    color: @color-Link;
    text-decoration: underline;
    margin-right: 1em;
    &:hover {
      // Fixes for specificity issues.
      cursor: pointer;
    }
  }
}
